services:
  mongo:
    image: mongo:7
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123

  auth-service:
    build:
      context: .
      dockerfile: apps/authService/Dockerfile
    container_name: auth-service
    restart: always
    ports:
      - 4000:4000
    depends_on:
      - mongo
    environment:
      MONGODB_URI: mongodb://admin:admin123@mongo:27017/auth_db?authSource=admin
  
volumes:
  mongo-data: